@media only screen and (min-width: 1000px) {
  .header {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBB%0D%0AZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9u%0D%0AOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBT%0D%0AVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzEx%0D%0ALmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3%0D%0ALnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxp%0D%0AbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDEwcHgiIGhlaWdodD0iMTBweCIgdmlld0Jv%0D%0AeD0iMCAwIDQxMCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDEwIDEwIiB4bWw6c3Bh%0D%0AY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwb2x5Z29uIGZpbGw9IiNGQkIwNDAiIHBvaW50cz0iNC43%0D%0AMzUsNSAxMzQuMjY3LDYuMjA1IDEzNC4yNjcsMy43OTYgCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiNG%0D%0AQkIwNDAiIHBvaW50cz0iNDA1LjI2NSw1IDI3NS43MzMsMy43OTUgMjc1LjczMyw2LjIwNCAJIi8+%0D%0ADQo8L2c+DQo8L3N2Zz4NCg==);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  #headerStripe {
    position: absolute;
    text-align: center;
  }
  #inputBoxSmall {
    height: 80px;
    width: 150px;
    // display: flex;
    // align-self: flex-start;
    display: none;
  }
  #top-header {
    display: flex;
    justify-content: space-between;
    // text-align: center;
  }
  .topBox {
    height: 80px;
    width: 150px;
  }

  .fa-plus-square {
    // top: 3%;
    // left: 100%;
    // position: absolute;
    font-size: 3em;
    color: #be4a38;
    // padding: 5px;
  }
  #logo {
    width: 125px;
    height: 75px;
  }
  #navBox {
    background-color: #3a3a3c;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
    color: #808184;

    .navBar {
      // border-width: 1px;
      // border-left-style: solid;
      // border-right-style: solid;
      padding: 10px;
    }
    .navBar:hover {
      color: #e8562a;
    }
  }
  #postsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  .postBox {
    background-color: white;
    padding: 5px;
    margin: 8px;
    font-family: 'Lato', sans-serif;
    width: 400px;
    // height: 400px;
    .innerPostBox {
      padding: 5px;
      margin: 8px;
      .postTitles {
        font-weight: bold;
        font-size: 25px;
        color: rgb(41, 40, 40);
        word-wrap: break-word;
      }
      .postImages {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 375px;
        height: 225px;
      }
      .postStats {
        color: #b9b8b8;
        text-align: center;
      }
      .partPostContent {
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
    }
  }
}
